body{
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
}
.main_1{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
    row-gap: 1%;
}
.top_content{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2%;
}
.sections{
    width: 49%;
    height: 100%;
    background-color: #2675b7;
}
.main_body{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 48%;
    row-gap: 2%;
}
.horizontal_1{
    width: 40vw;
    height: 48%;
    background-color: #2675b7;
}
.horizontal_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1%;
    width: 40vw;
    height: 48%;

}
.block{
    background-color: #2675b7;
    height: 100%;
    width: 33%;
}